[req]
prompt = no
distinguished_name = req_distinguished_name
req_extensions     = req_x509_extensions

[req_distinguished_name]
C    = US
ST   = CO
L    = Denver
O    = World Wide Technology
1.OU = Application Services
2.OU = Internal Training
CN   = ServerAuth Issuing CA

[req_x509_extensions]
basicConstraints     = critical,CA:true,pathlen:0
keyUsage             = critical,cRLSign,keyCertSign,digitalSignature
extendedKeyUsage     = serverAuth
subjectKeyIdentifier = hash
certificatePolicies  = @certificate_policy_section

[ca]
default_ca = serverauth_issuing_ca

[serverauth_issuing_ca]
default_md      = sha256
default_days    = 1461 # about 4 years
private_key     = serverauth_issuing_ca.key.pem
certificate     = serverauth_issuing_ca.crt.pem
dir             = ca_data
new_certs_dir   = $dir/issued_certs
database        = $dir/index.txt
serial          = $dir/serial
unique_subject  = yes
policy          = policy_same_org
copy_extensions = copy
x509_extensions = root_ca_extensions

[ policy_same_org ]
countryName             = supplied
stateOrProvinceName     = supplied
localityName            = supplied
organizationName        = match
organizationalUnitName  = match
commonName              = supplied
emailAddress            = optional

[certificate_policy_section]
policyIdentifier = 1.2.3.4 # This is not a real OID!
CPS.1            = "http://cps1.serverauth.pki.training.wwt.vpn"
CPS.2            = "http://cps2.serverauth.pki.training.wwt.vpn"
